@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;

700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  max-width: 1135px;
  width: 70%;
  margin: 0 auto;
}

.button {
  background-color: #eeaa2e;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.button:hover {
  background-color: #34debf;
  border-color: #eeaa2e;
}

.button-standart {
  margin-top: 30px;
  width: 250px;
  height: 60px;
}

.icon {
  position: relative;
  width: 200px;
}

.icon__circle {
  min-width: 38px;
  min-height: 38px;
  max-width: 38px;
  max-height: 38px;
  background-color: #eeaa2e;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon__basic {
  position: static;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 1;
}

.icon__basic img {
  display: block;
  margin: 6px auto 0;
}

.icon__basic::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -36px;
  width: 36px;
  height: 2px;
  background-color: #000000;
}

.icon__basic::after {
  content: "";
  position: absolute;
  top: -52px;
  left: -36px;
  width: 2px;
  height: 72px;
  background-color: #000000;
}

.icon__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__about {
  margin: 19px 0 0 0;
}

.icon__aboutMe {
  margin-left: -65px;
  margin-top: 19px;
}

.icon_experience {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hidden {
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.menu_active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.menu__block {
  height: 100vh;
  width: 250px;
  margin: 0;
  background-color: #34debf;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__block nav {
  display: block;
  width: 100%;
}

.menu__list {
  display: block;
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.menu__link {
  margin-bottom: 20px;
}

.menu__link a {
  font-weight: 700;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
}

.menu__link a span {
  padding-left: 30%;
}

.menu__link a::before {
  content: "";
  border: 1px solid black;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.menu__link a:hover {
  color: #eeaa2e;
}

.menu__link a:hover::before {
  content: "";
  border: 1px solid #eeaa2e;
  background-color: #eeaa2e;
}

.promo__messanger {
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eeaa2e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  width: 20px;
  position: fixed;
  left: 50px;
  top: 50%;
  font-weight: 700;
  font-size: 22px;
  z-index: 2;
}

.promo__messanger .hr {
  display: block;
  width: 45px;
  height: 2px;
  background-color: #eeaa2e;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.promo__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 130px;
}

.promo__a a {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.promo__a a div {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 100%;
}

.promo__a a div svg {
  stroke: #eeaa2e;
  fill: #eeaa2e;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.promo__a a div svg:hover {
  stroke: #34debf;
  fill: #34debf;
}

.promo__img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  width: 100%;
}

.promo__btn {
  margin: 250px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  position: absolute;
  right: 32px;
  top: 26px;
  cursor: pointer;
  width: 36px;
  height: 26px;
  z-index: 10;
}

.hamburger span {
  display: block;
  width: 36px;
  height: 3px;
  background-color: #eeaa2e;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.hamburger span::before {
  content: "";
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #eeaa2e;
  top: -10px;
  right: 0;
}

.hamburger span::after {
  content: "";
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #eeaa2e;
  top: 10px;
  right: 0;
}

.hamburger_active {
  position: fixed;
}

.hamburger_active span {
  background-color: rgba(255, 255, 255, 0);
}

.hamburger_active span::before {
  content: "";
  top: 0;
  width: 35px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #34debf;
}

.hamburger_active span::after {
  content: "";
  width: 35px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  background-color: #34debf;
}

.about-me__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__photo {
  max-width: 750px;
  max-height: 550px;
  min-width: 300px;
  min-height: 500px;
}

.about-me__photo img {
  display: block;
  max-width: 750px;
  max-height: 550px;
  width: 100%;
}

.about-me__text {
  position: relative;
  max-width: 570px;
  margin-left: 20px;
}

.about-me__text hr {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #eeaa2e;
  border: none;
  margin: 10px 0;
}

.about-me__text h2 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  margin-top: 0;
}

.about-me__text h4 {
  font-size: 16px;
}

.about-me__text p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.about-me__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  margin-top: 40px;
  gap: 20px 50px;
}

.about-me__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.about-me__title {
  margin-left: 15px;
}

.about-me__title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

.about-me__title p {
  margin: 0;
  margin-top: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.about-me__photo-none {
  display: none;
}

.experience {
  margin-top: 60px;
}

.experience__section-1,
.experience__section-2 {
  width: 50%;
}

.experience .container h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 16px;
}

.experience .container hr {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #eeaa2e;
  border: none;
  margin: 10px auto;
}

.experience__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.experience__title h3 {
  font-weight: 700;
  font-size: 20px;
  padding-left: 43px;
}

.experience__title h3::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #eeaa2e;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.experience__content {
  margin-top: 45px;
  margin-left: 43px;
}

.experience__content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-top: 12px;
}

.experience__content p::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -36px;
  width: 2px;
  min-height: 180%;
  background-color: black;
}

.experience__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__subtext {
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.experience__subtext span {
  font-weight: 500;
  font-size: 12px;
}

.skill {
  margin-top: 60px;
}

.skill .container h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 16px;
}

.skill .container hr {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #eeaa2e;
  border: none;
  margin: 10px auto;
}

.skill__box {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 270px));
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
  margin-top: 30px;
}

.skill__element {
  border: 1px solid #000;
  padding: 30px 30px 25px;
}

.skill__element h3 {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 23px;
}

.skill__element p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-top: 16px;
}

.skill__elementImg {
  width: 46px;
  height: 65px;
  margin: 0 auto;
}

.skill__elementImg img {
  width: 100%;
}

.portfolio {
  margin-top: 60px;
}

.portfolio .container h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 16px;
}

.portfolio .container hr {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #eeaa2e;
  border: none;
  margin: 10px auto;
}

.portfolio__box {
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 280px));
  -ms-grid-rows: (minmax(180px, 280px))[2];
  grid-template-rows: repeat(2, minmax(180px, 280px));
  grid-auto-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.portfolio__box .vertical {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio__box .horizontal {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid #eeaa2e;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.up:hover {
  border: 3px solid #34debf;
}

.up:hover .array {
  background-color: #34debf;
}

.up:hover .array::after {
  content: "";
  background-color: #34debf;
}

.up:hover .array::before {
  content: "";
  background-color: #34debf;
}

.up .array {
  height: 30px;
  width: 2px;
  background-color: #eeaa2e;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.up .array::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #eeaa2e;
  position: absolute;
  top: 8px;
  left: -13px;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.up .array::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #eeaa2e;
  position: absolute;
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.none {
  display: none;
}

@media (max-width: 1630px) {
  .portfolio__box {
    grid-template-columns: repeat(auto-fit, minmax(180px, 280px));
    -ms-grid-rows: (minmax(180px, 280px))[2];
    grid-template-rows: repeat(2, minmax(180px, 280px));
  }

  .portfolio__box .vertical {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .portfolio__box .horizontal {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .portfolio__element {
    overflow: hidden;
    max-width: 280px;
    min-width: 180px;
    max-height: 280px;
    min-height: 180px;
    overflow: hidden;
  }
}

@media (max-width: 1450px) {
  .portfolio .container h2 {
    font-size: 26px;
  }
}

@media (max-width: 1300px) {
  .about-me__grid {
    margin-top: 20px;
    gap: 20px 30px;
  }

  .about-me__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1162px) {
  .about-me__text p {
    font-size: 13px;
  }

  .about-me__text h4 {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .icon__about {
    width: 120px;
  }
}

@media (max-width: 1050px) {
  .experience__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .experience__section-1 {
    width: 100%;
  }

  .experience__section-2 {
    width: 100%;
    margin-top: 25px;
  }

  .experience__content {
    margin-top: 35px;
  }

  .experience__title {
    text-align: center;
  }

  .experience__title h3 {
    padding-left: 0;
  }

  .experience__title h3::before {
    z-index: 2;
  }
}

@media (max-width: 992px) {
  .about-me__photo-none {
    display: block;
    margin-top: 20px;
  }

  .about-me__photo-none img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .about-me__photo {
    display: none;
  }

  .about-me__text {
    margin-left: 0;
  }

  .about-me__text hr {
    display: none;
  }

  .about-me__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }

  .about-me__text h2 {
    text-align: center;
  }

  .about-me__text h4 {
    text-align: center;
  }

  .about-me__text p {
    margin-top: 15px;
    font-size: 14px;
    text-align: justify;
  }

  .about-me__element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-me__title {
    margin: 20px 0 0 0;
  }

  .about-me__title h3 {
    text-align: center;
  }

  .about-me__title p {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .experience__section-2 {
    margin-top: 45px;
  }
}

@media (max-width: 768px) {
  .up:hover {
    border: 3px solid #eeaa2e;
  }

  .up:hover .array {
    background-color: #eeaa2e;
  }

  .up:hover .array::after {
    content: "";
    background-color: #eeaa2e;
  }

  .up:hover .array::before {
    content: "";
    background-color: #eeaa2e;
  }
}

@media (max-width: 650px) {
  .about-me__text h2 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .experience__section-2 {
    margin-top: 45px;
  }

  .icon__basic::after {
    height: 240px;
  }

  .experience__content p::before {
    min-height: 150%;
  }

  .experience__content p::before {
    min-height: 140%;
  }

  .icon__basic::after {
    height: 220px;
  }
}

@media (max-width: 550px) {
  .promo__messanger {
    position: absolute;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    height: 50px;
    top: 10px;
    left: 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 140px;
  }

  .promo__messanger .hr,
  .promo__messanger .sosial {
    display: none;
  }

  .promo__a {
    height: 50px;
    width: 100%;
  }

  .promo__a a div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    border-radius: 100%;
  }
}

@media (max-width: 500px) {
  .about-me__text h2 {
    font-size: 27px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .portfolio .container h2 {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .about-me__text h2 {
    font-size: 24px;
  }
}

@media (max-width: 300px) {
  .about-me__text h2 {
    font-size: 18px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .about-me__text h2 {
    font-size: 34px;
  }

  .about-me__grid {
    margin-top: 15px;
  }

  .about-me__element {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-height: 450px) {
  .promo__messanger {
    height: 150px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .promo__messanger .hr,
  .promo__messanger .sosial {
    display: none;
  }

  .promo__a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .promo__a a div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}