.about-me{
    padding-top: 50px;
    &__flex{
        display: flex;
        justify-content: space-between;
    }
    &__photo{
        max-width: 800px;
        max-height: 600px;
        img{
            width: 100%;
        }
    }
    &__text{
        max-width: 570px;
        position: relative;
        hr{
            display: inline-block;
            width: 60px;
            height: 3px;
            background-color: $main-color;
            border: none;
            margin: 10px 0;
        }
        h2{
            font-weight: 700;
            font-size: 36px;
            margin: 0;
            margin-top: 49px;
        }
        p{
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }
    &__grid{
        display: grid;
        max-width: 570px;
        grid-template: 1fr 1fr / 1fr 1fr;
        margin-top: 40px;
        gap: 20px 50px;
    }
    &__element{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        max-width: 260px;
        // background-color: aqua;
    }
    &__title{
        // max-width: 200px;
        margin-left: 15px;
        h3{
            margin: 0;
            font-weight: 700;
            font-size: 14px;
        }
        p{
            margin: 0;
            margin-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}