.hamburger{
    position: absolute;
    right: 32px;
    top: 26px;
    cursor: pointer;
    width: 36px;
    height: 26px;
    z-index: 10;
    span{
        display: block;
        width: 36px;
        height: 3px;
        background-color: $main-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s all;
        &::before{
            content: "";
            transition: 0.3s all;
            width: 30px;
            height: 3px;
            position: absolute;
            background-color: $main-color;
            top: -10px;
            right: 0;
        }
        &::after{
            content: "";
            transition: 0.3s all;
            width: 30px;
            height: 3px;
            position: absolute;
            background-color: $main-color;
            top: 10px;
            right: 0;
        }
    }
    &_active{   
        position: fixed; 
        span{
            background-color: rgba($color: #fff, $alpha: 0.0);
            &::before{
                content: "";
                top: 0;
                width: 35px;
                transform: rotate(-45deg);
                background-color: $second-color;
            }
            &::after{
                content: "";
                width: 35px;
                transform: rotate(45deg);
                top: 0;
                background-color: $second-color;
            }
        }
    }
}
    .about-me{
    &__flex{
        display: flex;
        padding-top: 60px;
        justify-content: center;
    }
    &__photo{
        max-width: 750px;
        max-height: 550px;
        min-width: 300px;
        min-height: 500px;

        img{
            display: block;
            max-width: 750px;
            max-height: 550px;
            width: 100%;
        }
    }
    &__text{
        position: relative;
        max-width: 570px;
        margin-left: 20px;
        hr{
            display: block;
            width: 60px;
            height: 3px;
            background-color: $main-color;
            border: none;
            margin: 10px 0;
        }
        h2{
            font-weight: 700;
            font-size: 36px; 
            margin: 0;
            margin-top: 0;
        }
        h4{
            font-size: 16px; 
        }
        p{
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        margin-top: 40px;
        gap: 20px 50px;
    }
    &__element{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    &__title{
        // max-width: 200px;
        margin-left: 15px;
        h3{
            margin: 0;
            font-weight: 700;
            font-size: 14px;
        }
        p{
            margin: 0;
            margin-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.about-me__photo-none{
    display: none;
}
@media (max-width: 1300px){
    .about-me{
        &__grid{
            margin-top: 20px;
            gap: 20px 30px;
        }
        &__photo{
            display: flex;
            align-items: center;    
        }
    }
}
@media (max-width: 1162px) {
    .about-me{
        &__text{
            p{
                font-size: 13px    
            }
            h4{
                font-size: 14px;    
            }
        }  
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .about-me{
        &__text{
            h2{
                font-size: 34px;    
            }
        }  
        &__grid{
            margin-top: 15px;
        }
        &__element{
            justify-content: flex-start;    
        }
    }
}
    @media (max-width: 992px) {
        .about-me__photo-none{
            display: block;
            margin-top: 20px;
                img{
                    display: block;
                    margin: 0 auto;
                    width: 50%;
            }
        }
        .about-me__photo{display: none;}
        .about-me__text{
            margin-left: 0;
            hr{
                display: none;
            }
        }
    }
@media (max-width: 992px){
    .about-me{
        &__flex{
            flex-direction: column; 
            align-items: center;
            padding-top: 50px;  
        }
        &__text{
            h2{text-align: center;}
            h4{text-align: center;}
            p{margin-top: 15px;
            font-size: 14px;
            text-align: justify;}
        }
        &__element{
            flex-direction: column;
            align-items: center;
            justify-content: center;    
        }
        &__title{
            margin: 20px 0 0 0 ;
            h3{
                text-align: center;    
            }
            p{
                font-size: 13px;
            }
        }  
    }
}
@media (max-width: 650px){
    .about-me{
        &__text{
            h2{
                font-size: 30px    
            }    
        }    
    }
}
@media (max-width: 500px){
    .about-me{
        &__text{
            h2{
                font-size: 27px    
            }    
        }    
    }
}
@media (max-width: 350px){
    .about-me{
        &__text{
            h2{
                font-size: 24px    
            }    
        }    
    }
}
@media (max-width: 300px){
    .about-me{
        &__text{
            h2{
                font-size: 18px    
            }    
        }    
    }
}
    