.experience{
    margin-top: 60px;
    &__section-1, &__section-2{
        width: 50%;

    }
    .container{
        h2{
            @include title_text_h;
        }
        hr{
            @include yellow_hr;
        }
    }
    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 20px
    }

    &__title{
        h3{
            font-weight: 700;
            font-size: 20px;
            padding-left: 43px;
            &::before{
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }
        }
    }
    &__content{
        margin-top: 45px;
        margin-left: 43px;
        p{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 12px;
            &::before{
                content: "";
                position: absolute;
                top: -40px;
                left: -36px;
                width: 2px;
                min-height: 180%;
                background-color: black;

            }
        }
    }
    &__subtitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__subtext{
        margin-left: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        span{
            font-weight: 500;
            font-size: 12px;
        }
    }
}

@media (max-width: 1050px) {
    .experience{
       &__block{
            flex-direction: column;
        } 
        &__section-1{
        width: 100%;
        }
        &__section-2{
        width: 100%;
        margin-top: 25px;
        }
        &__content{
            margin-top: 35px    
        }
        &__title{
            text-align: center;
            h3{padding-left: 0;}  
        }
    } 
}
@media (max-width: 850px) {
    .experience{
        &__section-2{
        margin-top: 45px;
        }
        
    } 
}
@media (max-width: 600px) {
    .experience{
        &__section-2{
        margin-top: 45px;
        }   
    }
    .icon__basic::after{
        height: 240px;    
    }
    .experience__content p::before{
        min-height: 150%;    
    }
}
@media (max-width: 600px) {
    .experience__content p::before{
        min-height: 130%;    
    }
}