.menu{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: 0.3s all;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.75);
    &_active{
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block{
        height: 100vh;
        width: 15%;
        margin: 0;
        background-color: $second-color;
        padding: 140px 0 0;
        position: relative;

    }
    &__list{
        display: block;
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
    }
    &__link{
        margin-bottom: 20px;
        padding-left: 75px;
        a{
            font-weight: 700;
            display: inline-block;
            width: 100%;
            font-size: 24px;
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s all;
            position: relative;
            &::before{
                content: "";
                border: 1px solid black;
                width: 17px;
                height: 17px;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: -40px;
                transform: translateY(-50%);
                z-index: 2;
            }
            &:hover{
                color: $main-color;
                &::before{
                    content: "";
                    border: 1px solid $main-color;
                    background-color: $main-color;
                }
            }
        }
    }
    &__a{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            width: 40px;
            height: 40px;
            transition: 0.3s all;
            &:hover{
                width: 45px;
                height: 45px;
            }
            img{
                width: 100%;
            }
        }
    }
}