.promo{  
    &__messanger{
        height: 410px;
        display: flex;
        color: $main-color;
        align-items: center;
        justify-content: space-between;
        writing-mode: vertical-lr;
        transform: translateY(-50%) rotate(180deg);
        width: 20px;
        position: fixed;
        left: 50px;
        top: 50%;
        font-weight: 700;
        font-size: 22px;
        z-index: 2;
        .hr{
            display: block;
            width: 45px;
            height: 2px;
            background-color: $main-color;
            transform: rotate(-90deg);
        }
    }
    &__a{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 130px;
        
        a{
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            transition: 0.3s all;
            div{
                transform: rotate(90deg);
                border-radius: 100%; 
                svg{
                    stroke:$main-color;
                    fill: $main-color;
                    transition: .3s all;
                    &:hover{
                        stroke: $second-color;
                        fill: $second-color;
                        }
                    }
            }
        }
    }
    &__img{
        transform: rotate(90deg);
        display: block;
        width: 100%;
    }
    &__btn{
        margin: 250px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 550px) {
    .promo{
        &__messanger{
            position: absolute;
            .hr, .sosial{display: none;}
            writing-mode: horizontal-tb;
            height: 50px;
            top: 10px;
            left: 10px;
            transform: none;
            width: 140px;
        }
        &__a{
            height: 50px;
            width: 100%;
            a{
                div{
                    transform: none;
                    border-radius: 100%;  
                }    
            }    
        }
        
    }
}