.up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 3px solid $main-color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
    &:hover{
        border: 3px solid $second-color;
        .array{
            background-color: $second-color;
            &::after{
                content: "";
                background-color: $second-color;
            }
            &::before{
                content: "";
                background-color: $second-color;
            }
        }
    }
    .array{
        height: 30px;
        width: 2px;
        background-color: $main-color;
        transition: 0.3s all;
        &::before{
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background-color: $main-color;
            position: absolute;
            top: 8px;
            left: -13px;
            transform: rotate(-60deg);
            transition: 0.3s all;
        }
        &::after{
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background-color: $main-color;
            position: absolute;
            top: 8px;
            left: -3px;
            transform: rotate(60deg);
            transition: 0.3s all;
        }
    }
}
.none{
    display: none;    
}